.dashboard-content {

  margin-left: 260px;

  width: calc(100% - 260px);

  min-height: 100vh;

  background: var(--bg-main);

  transition: all .3s ease;
}

.dashboard-content.collapsed {

  margin-left: 90px;

  width: calc(100% - 90px);
}